<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <title>JM안과</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link th:href="@{/css/news.css}" rel="stylesheet" />
</head>

<body class="background-img-9">
    <div id="top-nav"></div>
    <div class="body">
        <div class="wrapper">
            <h1>news 작성</h1>
            <form id="register-form" action="/news/write" method="post" enctype="multipart/form-data">
                <div style="width:100%;">
                    <label for="news_title">제목</label>
                    <input id="news_title" name="news_title" type="text" maxlength="30" required>
                </div>
                <div>
                    <label for="news_content">내용</label>
                    <textarea id="news_content" name="news_content" required></textarea>
                </div>
                <div>
                    <label for="news_image">이미지</label>
                    <input id="news_image" name="news_image" type="file">
                </div>
                <button class="button1" onclick="newsSubmit()">작성</button>
            </form>
        </div>
        <div id="footer"></div>
    </div>
    <!--session-->
    <div id="ss_id" class="hidden" th:text="${session.id}"></div>
    <div id="ss_name" class="hidden" th:text="${session.name}"></div>
    <div id="ss_admin" class="hidden" th:text="${session.admin}"></div>
    <!--/session-->
    <script type="text/javascript" th:src="@{/js/mainUI.js}"></script>
    <script>
        function newsSubmit() {
            let form = document.getElementById("register-form");
            if (form.checkValidity()) {
                form.submit();
                alert("게시글 작성이 완료되었습니다.");
            } else {
                alert("잘못된 형식입니다.");
            }
        }
    </script>
</body>

</html>