#side-page{
    position:absolute;
    z-index: 3;
    background-color: #fff;
    right:-100%;
    margin:0;
    padding:0;
    min-width:600px;
}
#side-page-nav{
    background-color: dodgerblue;
    margin:auto 0;
}
#side-page-nav ul {
    padding: 0;
    margin:auto;
    text-align: center;
}
#side-page-nav ul li {
    width: 90px;
    display: block;
    text-align: center;
    padding: 10px 0;
    color: #fff;
    overflow: hidden;
    font-size: 15px;
    z-index: 2;
    margin: 0 auto;
}
#side-page-nav ul img{
    width:40px;
    cursor: pointer;
    margin-top:30px;
}
#side-page-content{
    
    min-width:500px;
    padding:0;
}
.side-page-slide-ani{
    animation-name: side-page-slide;
    animation-timing-function:ease;
    animation-duration:1s;
    animation-fill-mode: both;
}
.side-page-slide-aniOff{
    animation-name: side-page-slideOff;
    animation-timing-function:ease;
    animation-duration:0.5s;
    animation-fill-mode: both;
}
@keyframes side-page-slide{
    from{right:-100%;}
    to{right:0;}
}
@keyframes side-page-slideOff{
    from{right:0;}
    to{right:-100%;}
}
#side-reservation{
    flex-direction: column;
    padding:0;
}
.iframe-container{
    padding:0;
}

.side-title{
    display:flex;
    width:100%;
    margin: 50px 0 0 0;
    padding: 20px;
    font-weight: bold;
    color:initial;
    font-size:20px;
    justify-content: center;
}