<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <title>JM안과</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>

<body class="background-img-5">
    <div id="sidepage"></div>
    <div id="top-nav"></div>
    <div id="home">
        <div class="mainTextBox">
            예방으로부터 시작되는 건강한 눈, 인생을 선물하다
        </div>
        <button class = button2><a href="info">JM안과 소개</a></button>
    </div>
    <!--session-->
    <div id="ss_account" class="hidden" th:text="${session.account}"></div>
    <div id="ss_admin" class="hidden" th:text="${session.admin}"></div>
    <!--/session-->
    <script type="text/javascript" th:src="@{/js/mainUI.js}"></script>
</body>

</html>