<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <title>JM안과</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link th:href="@{/css/join.css}" rel="stylesheet" />
    <style>
        .disabled{
            background-color:rgba(0,0,0,0.2);
        }
    </style>
</head>

<body class="background-img-9">

    <div id=top-nav></div>

    <h1 style="text-align: center;font-size:25px; margin:50px 0 0 0;">회원 정보 수정</h1>
    <div class="row">
        <div id="makeAcount">
            <form action="/modifyuser/new" method="post">
                <div class="join_row">
                    <h3 class="join_title"><label for="int_id">아이디</label></h3>
                    <span class="ps_box disabled">
                        <input type="text" class="int_box" name="int_id" id="int_id" maxlength="20" th:value="${user.int_id}" disabled>
                    </span>
                    <span class="error_next_box" id="idMsg"></span>
                </div>
                <div class="join_row">
                    <h3 class="join_title"><label for="int_pw1">패스워드 변경</label><span style="padding-left:30px;font-size:10px;color:gray;">공백일 경우 기존 패스워드가 유지됩니다.</span></h3>
                    <span class="ps_box">
                        <input type="password" class="int_box" name="int_pw1" id="int_pw1" maxlength="20">
                    </span>
                    <span class="error_next_box" id="idMsg"></span>
                    <h3 class="join_title"><label for="int_pw2">패스워드 변경 재확인</label></h3>
                    <span class="ps_box">
                        <input type="password" class="int_box" name="int_pw2" id="int_pw2" maxlength="20">
                    </span>
                    <span class="error_next_box" id="idMsg"></span>
                </div>
                <div class="join_row">
                    <h3 class="join_title"><label for="int_name">이름</label></h3>
                    <span class="ps_box">
                        <input type="text" class="int_box" name="int_name" id="int_name" maxlength="20" th:value="${user.name}">
                    </span>
                </div>
                <div class="join_row">
                    <h3 class="join_title"><label for="int_email">메일</label></h3>
                    <span class="ps_box">
                        <input type="email" class="int_box" placeholder="abcd @ ... " name="int_email" id="int_email"
                            maxlength="40" th:value="${user.email}">
                    </span>
                </div>
                <div class="join_row">
                    <h3 class="join_title"><label for="int_yy">생년월일</label></h3>
                    <div class="bir_wrap">
                        <div class="bir_yy">
                            <span class="ps_box">
                                <input type="number" id="int_yy" name="int_yy" placeholder="Year(4자리)" class="int_box"
                                    maxlength="4" onfocusout="changeMaxDate()" th:value="${user.int_yy}">
                            </span>
                        </div>
                        <div class="bir_mm">
                            <span class="ps_box">
                                <select id="int_mm" class="sel" name="int_mm" onchange="changeMaxDate()">
                                    <option th:value="1" th:selected="${user.int_mm == '1'}">1</option>
                                    <option th:value="2" th:selected="${user.int_mm == '2'}">2</option>
                                    <option th:value="3" th:selected="${user.int_mm == '3'}">3</option>
                                    <option th:value="4" th:selected="${user.int_mm == '4'}">4</option>
                                    <option th:value="5" th:selected="${user.int_mm == '5'}">5</option>
                                    <option th:value="6" th:selected="${user.int_mm == '6'}">6</option>
                                    <option th:value="7" th:selected="${user.int_mm == '7'}">7</option>
                                    <option th:value="8" th:selected="${user.int_mm == '8'}">8</option>
                                    <option th:value="9" th:selected="${user.int_mm == '9'}">9</option>
                                    <option th:value="10" th:selected="${user.int_mm == '10'}">10</option>
                                    <option th:value="11" th:selected="${user.int_mm == '11'}">11</option>
                                    <option th:value="12" th:selected="${user.int_mm == '12'}">12</option>
                                </select>
                            </span>
                        </div>
                        <div class="bir_dd">
                            <span class="ps_box">
                                <input type="number" id="int_dd" name="int_dd" placeholder="Day" class="int_box"
                                    maxlength="2" min="1" max="31" th:value="${user.int_dd}">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="join_row">
                    <h3 class="join_title"><label for="int_gender">성별</label></h3>
                    <span class="ps_box">
                        <select type="text" class="sel" name="int_gender" id="int_gender">
                            <option th:value="M" th:selected="${user.int_gender=='M'}">남자</option>
                            <option th:value="W" th:selected="${user.int_gender=='W'}">여자</option>
                            <option th:value="N" th:selected="${user.int_gender=='N'}">선택안함</option>
                        </select>
                    </span>
                </div>
                <div class="join_row">
                    <h3 class="join_title"><label for="int_contact">연락처</label></h3>
                    <span class="ps_box">
                        <input type="tel" class="int_box" placeholder="-를 제외하고 입력하세요" name="int_contact"
                            id="int_contact" maxlength="20" pattern="0[0-9]{1,2}[0-9]{7,8}" th:value="${user.contact}">
                    </span>
                </div>
                <button type="submit" id="btnJoin" class="button1">
                    수정하기
                </button>
            </form>
        </div>
    </div>
    <!--session-->
    <div id="ss_id" class="hidden" th:text="${session.id}"></div>
    <div id="ss_name" class="hidden" th:text="${session.name}"></div>
    <div id="ss_admin" class="hidden" th:text="${session.admin}"></div>
    <!--/session-->
    <script src="/js/mainUI.js"></script>
    <script>
        //회원가입 생일 필터링
        const today = new Date();
        //150년 전부터 현재 연도 까지만 입력가능
        document.getElementById("int_yy").setAttribute("max",today.getFullYear());
        document.getElementById("int_yy").setAttribute("min",today.getFullYear()-150);
        //dayOfMonth에 0이나 말일 이상 입력 불가
        function changeMaxDate(){
            let yearValue = document.getElementById("int_yy").value;
            let monthValue = document.getElementById("int_mm").value;
            document.getElementById("int_dd").removeAttribute("max");
            document.getElementById("int_dd").setAttribute("max",(new Date((new Date(yearValue,((monthValue == "12") ? 1 : monthValue),1))-1)).getDate());
        }
        //공백일 경우 기존값 대입하기
    </script>
</body>

</html>