<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <title>JM안과</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>

<body>
    <div id="top-nav"></div>
    <div class="body">
        <div class="wrapper">
            <form id="register-form" action="/inquiry/iq-register" method="post" enctype="multipart/form-data">
                <label for="inquiry_title">제목</label>
                <input type="text" id="inquiry_title" name="inquiry_title" required>
                <label class="hidden" for="inquiry_password">문의 조회용 비밀번호</label>
                <input class="hidden" type="password" id="inquiry_password" name="inquiry_password">
                <label for="inquiry_content">내용</label>
                <textarea type="textbox" id="inquiry_content" name="inquiry_content" required>dd</textarea>
                <label for="inquiry_image">이미지</label>
                <input type="file" id="inquiry_image" name="inquiry_image">
                <input class="hidden" type="text" id="inquiry_name" name="inquiry_name" th:value="${iqname}">
                <input class="hidden" type="tel" id="inquiry_contact" name="inquiry_contact" th:value="${iqcontact}">
                <input class="hidden" type="datetime-local" id="inquiry_create_datetime" name="inquiry_create_datetime">
                <button onclick="iqSubmit()">문의하기</button>
            </form>
        </div>
        <div id="footer"></div>
    </div>
    <!--session-->
    <div id="ss_id" class="hidden" th:text="${session.id}"></div>
    <div id="ss_name" class="hidden" th:text="${session.name}"></div>
    <div id="ss_admin" class="hidden" th:text="${session.admin}"></div>
    <!--/session-->
    <script type="text/javascript" th:src="@{/js/mainUI.js}"></script>
    <script>
        //비회원일 경우 문의 조회를 위한 패스워드 생성
        function inputPassword() {
            if (document.getElementById("ss_id").innerHTML == '') {
                let passwordForm = document.getElementById("inquiry_password");
                passwordForm.classList.remove("hidden");
                passwordForm.required = true;
                //해당하는 라벨을 찾아서 보이게하기
                for (let label of document.getElementsByTagName("label")) {
                    if (label.getAttribute("for") == "inquiry_password") {
                        label.classList.remove("hidden");
                    }
                }
            }
        }
        inputPassword();
        //자동으로 작성 날짜 삽입
        function inputCreateTime() {
            document.getElementById("inquiry_create_datetime").setAttribute("value", new Date().toISOString().slice(0, 16));
        }
        //서브밋 하기 직전의 프로세스를 위한 서브밋 함수
        function iqSubmit() {
            inputCreateTime();
            let form = document.getElementById("register-form");
            if(form.checkValidity()){
                form.submit();
                alert(`문의 요청이 완료되었습니다.`);
            }else{
                alert("잘못된 형식입니다.");
            }
        }
    </script>
</body>

</html>